.top {
  background-color: cyan;
}

body {
  text-align: center;
  margin: 0;
}

.pankaj {
  margin-left: 0;
  padding-bottom: 30px;
  padding-top: 120px;
}

.bot {
  background-color: beige;
  padding-top: 30px;
}

hr {
  margin: 0;
  border-style: dotted;
  border-radius: 5px;
  border-bottom: none;
}

.contact-me {
  padding-bottom: 200px;
}

.linkedin, .git, .fb,.insta, .twit {
  height: 35px;
}
.social {
margin-top: 100px;
}
.footer-link {
  padding-left: 15px;
}
.sun {
  position: absolute;
  height: 6.25rem;
  top: 40px;
  bottom: 600px;
  right: 200px;
}

.forest {
  position: absolute;
    height: 29.35rem;
    /* margin: 0; */
    /* bottom: 450px; */
    /* width: 20rem; */
    left: 0;
    right: 0;
    top: 21rem;
}

.prof {
  height: 20rem;
  float: left;
  padding-left: 15rem;
}

.profile {
  padding-bottom: 7rem;
  padding-top: 4.7rem;
  background-color: khaki;
}

.skills {
  background-color: pink;
  padding-top: 10px;
  padding-bottom: 18px;
}

.python {
  padding: 20px;
  text-align: center;
}

.py {
  float: left;
  margin-left: 200px;
  margin-top: 70px;
  margin-bottom: 100px;
}

.web {
  height: 130px;
  float: left;
  margin: 50px 50px 0 120px;
}

.webrow {
  padding: 100px 1rem;
  margin: 100px;
}

.bird {
  position: relative;
  right: 30.4375rem;
  height: 18.75rem;
  bottom: 16.8rem;
}

.background {
  width: 100%;
}

h1 {
  color: blue;
  font-family: 'Sacramento', cursive;
  font-size: 4.0625rem;
  margin: 0;
  font-weight: bolder;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  font-size: 35px;
  font-family: 'Vast Shadow', cursive;
}

p {
  font-family: 'Comfortaa', cursive;
  font-size: 1.3rem;
  margin: 0 auto;
  line-height: 2;
  font-weight: 900;
  text-align: center;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #0f3852;
  background-image: -webkit-linear-gradient(top, #0f3852, #6bdb21);
  background-image: -moz-linear-gradient(top, #0f3852, #6bdb21);
  background-image: -ms-linear-gradient(top, #0f3852, #6bdb21);
  background-image: -o-linear-gradient(top, #0f3852, #6bdb21);
  background-image: linear-gradient(to bottom, #0f3852, #6bdb21);
  text-decoration: none;
}
